.top-container {
    margin: -8px;
}

.img-logo {
    height: 400px;
    position: absolute;
    top: 0;
    padding: 100px;
}

.img-banner {
    height: 500px;
    display: block;
}

h2 {
    background-color: #b21e38;
    color: white;
}

